# APP_ENV: Ambiente de execução (development, production)
APP_ENV="development"

# APP_URL: URL base da aplicação PHP
APP_URL="http://localhost:8000"

# DATABASE_CONFIG (Futuro MySQL)
DB_HOST="localhost"
DB_NAME="fotocidade_df"
DB_USER="root"
DB_PASS=""

